mode: daemonset

presets:
  collectorMetrics:
    enabled: true
targetAllocator:
  enabled: true
  podLabels:
    team: platform-engineering
    environment: production
  prometheusCR:
    enabled: true
    scrapeInterval: 60s
    podMonitorSelector:
      matchlabels:
        app: example-app
      matchexpressions: []
    serviceMonitorSelector: {}

priorityClass:
  create: true
  name: ""
  priorityValue: 1000

podMonitor:
  enabled: true
config:
  receivers:
    prometheus:
      target_allocator:
        collector_id: "id"
